[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
	branch = 83e5dfa52a482c76980e69e1f231c32a03c68910
[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot/
	branch = 2024.02.x
